/* Estilos para a tabela principal */
.titulo {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #f2f2f2;
  }
  
  /* Estilos para as células do cabeçalho */
  .titulo th {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: left;
  }
  
  /* Estilos para as células de dados */
  .tabela1 {
    width: 100%;
    border-collapse: collapse;
  }
  
  /* Estilos para células das colunas de dados */
  .tabela1 td {
    padding: 10px 60px 10px 10px;
    border-bottom: 1px solid #ddd;
  }
  
 