

.tabela1{
    border: 2px solid;
    border-color: red;
    width: 20%;
}

tr{
    background-color: orange;
}

#ordenar,#embaralhar,#meu amor{
    padding: 10px 0px 0px 0px;
}

a:link{
    color:rgb(149, 97, 0);
}

a:hover{
    color:rgb(126, 94, 0);
}
