p.verso{
    color:blue;
}

p.mote{
    color:red;
}

a:link{
    color:blue;
}

a:visited{
    color: orange;
}

a:hover{
    color:purple;
}

a:active{
    color: red;
}

img{
    border-radius: 50%;
}

#poeta{
    background-color: #eee;
    border-radius: 50px;
}

#div1{
    display: flex;
    padding: 20px 0px 0px 0px;
}

tr{
    background-color: lightcoral;
}